
	<form method="POST" action="/post/create">
	    <input type="text" name="title" class="form-control" required /> <br>
	    <textarea name="content" class="form-control" required></textarea>
	    <input type="submit"   class="btn btn-primary"/>
	 </form>
	Posts List
	<% @posts.reverse.each do |post| %>
		
		<form accept-charset="UTF-8" action="/post/<%= post.id%>" method="post">
	  		<div style="margin:0;padding:0">
			    <input name="_method" type="hidden" value="DELETE" />
			    <input name="utf8" type="hidden" value="&#x2713;" />
			    <button type="submit" class="close" value="delete">
			    	<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
		</form>
		<h2><a href="/post/<%= post.id %>/show"> <%= post.title %> </a></h2>
		<p> <%= post.content %> </p>
		<%= post.created_at %>
		<%= User.find(post.user_id).username %>
<% end %>
